# Node modules & build outputs
node_modules
.next
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*
!.env.example

# Docker-related
Dockerfile*
docker-compose*

# OS / IDE / Editor folders
.DS_Store
*.swp
.vscode
.idea

# Testing
coverage